
/*utilities*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;       
    font-style: normal;    
}

/*add header*/
header {
    padding: 18px;
    background-color: #fff;  
}

.title {
    font-size: 50px;
    font-weight: 700;   
    vertical-align: middle;
    background-color: #fff;  
}

.logo{
    vertical-align: middle;
}

/*add main*/

main{
    background-color: rgba(171, 179, 188, 0.11);
    padding: 80px;
}

hr{
    color: #f6f7f86e;
}

li{
    list-style: none;
    padding: 10px 0;
}

ul{
    padding-left: 0px;
}
button{
    border: 1px solid;
}

.container {
    width: 70%;
    padding: 0px 50px;
    background-color: #fff;
    margin: 40px auto;
}

.box{
    padding: 10px 0;
}

.text{
    font-weight: 500;
    font-size: 20px;
}

/*BUTTONS*/

.buttonTop {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}

.buttonTop:first-child{
    background-color: #0084d8;
    color: #fff;
    border-color: #0084d8;
}

.buttonTop:nth-child(2){
    background-color: #fff;
    color: #b0b1b1;
    border-color: #b0b1b1;
    border-color: currentColor;
}

.btn{
     border-radius: 25px;
     padding: 8px 20px;
     font-weight: 500;
     margin-left: 15px;
     
}

.btnBlue{
    background-color: #0084d8;
    color: #fff;
    border-color: #0084d8;
}

.btnGrey{
    background-color: #cccccc;
    color: #fff;
    border-color: #cccccc;
}

.btnPurple{
    background-color: #775fc4;
    color: #fff;
    border-color: #775fc4;
}

.btnGreen{
    background-color: #299484;
    color: #fff;
    border-color: #299484;
}

.btnOrange{
    background-color: #ea821d;
    color: #fff;
    border-color: #ea821d;
}

.btnPink{
    background-color: #df628f;
    color: #fff;
    border-color: #df628f;
}

.btnLime{
    background-color: #9eb01c;
    color: #fff;
    border-color: #9eb01c;
}

/*CHECK*/
.check{
    display: inline-block;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.checkedGreen{
    color: #299484;
    border: 1px solid currentColor;
    font-weight: 500;
}

.checkedRed{
    color: #bb7d82;
    border: 1px solid currentColor;
}


/*SECTION */
.sectionTop{
    padding: 15px 80px;
}

.sectionMain{
    padding: 80px;
}










