
/*utilities*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

/*add header*/
header {
    height: 100px;
    background-color: #fff;
    
    
    
    
}
.logo {
    margin: 20px 20px;
    
    background-color: #fff;   
}
.title {
    background-color: #fff;
    font-size: 50px;
    
    
}

/*add main*/

.contain {
    width: 800px;
    height: 1000px;
    background-color: #fff;
    margin: 40px auto;
}

.buttons {
    height: 80px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    
    
}

.button1 {
    background-color: aqua;
    width: 80px;
    height: 40px;
    border-radius: 5%;
    border-color: aqua;
    
}

.button2 {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    border-color: #fff;
}
