
/*utilities*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;       
    font-style: normal;    
}

/*add header*/
header {
    padding: 18px;
    background-color: #fff;  
}

.title {
    font-size: 50px;
    font-weight: 700;   
    vertical-align: middle;
    background-color: #fff;  
}

.logo{
    vertical-align: middle;
}

/*add main*/

main{
    background-color: rgba(171, 179, 188, 0.11);
    padding: 80px;
}

hr{
    color: #f6f7f8;
}

.container {
    width: 70%;
    height: 1000px;
    background-color: #fff;
    margin: 40px auto;
}

/*BUTTONS*/

.buttontTop {
    padding: 10px 50px !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
}

.btn{
     border-radius: 50%;
     padding: 15px 50px;
}

.btnBlue{
    background-color: #0084d8;
    color: #fff;
    border-color: #0084d8;
}

.btnGrey{
    background-color: #cccccc;
    color: #fff;
    border-color: #cccccc;
}

.btnPurple{
    background-color: #775fc4;
    color: #fff;
    border-color: #775fc4;
}

.btnGreen{
    background-color: #299484;
    color: #fff;
    border-color: #299484;
}

.btnOrange{
    background-color: #ea821d;
    color: #fff;
    border-color: #ea821d;
}

.btnPink{
    background-color: #df628f;
    color: #fff;
    border-color: #df628f;
}

.btnLime{
    background-color: #9eb01c;
    color: #fff;
    border-color: #9eb01c;
}

/*SECTION TOP*/
.sectionTop{
    padding: 15px;
}

.sectionMain{
    padding: 80px;

}











.button2 {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    border-color: #fff;
}

/*main*/
.titles{
    font-weight: 700;
    font-size: 25px;
    padding-left: 50px;
    
}
.main1{
    padding-top: 50px;
}
.list{
    background-color: aqua;
    border-radius: 30%;
    border-color: aqua;
    width: 70px;
    height: 30px;
    margin-left: 8px;
    

}